.content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: rgb(112, 184, 184);
    flex-direction: column;
    margin: 0;
    color: #ffffff;
}

.main {
    background-color: rgb(64, 128, 128);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 10px 20px;
    transition: transform 0.2s;
    width: clamp(250px, 80%, 900px);
    text-align: center;
}

img {
    width: 100px;
    border-radius: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    height: 24px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
}

.incorrect_entry {
    color: red;
    margin-top: -10px;
    margin-left: 15px;
}

.email_password_input {
    display: block;
    width: 80%;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid rgb(112, 184, 184);
    border-radius: 10px;
    background-color: rgb(69, 137, 137);
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
    font-size: 16px;
}

.remember_or_forgot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    width: 100%;

    .remember {
        display: flex;
        gap: 10px;
    }

    a {
        color: #ffffff;
    }
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    padding: 15px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
        width: 100%;
    font-size: 24px;
}

.button_disabled {
    background-color: #666666;
}

.button_disabled:hover {
    cursor: not-allowed;
}

.button_enabled {
    background-color: #4CAF50;
}

.button_enabled:hover {
    background-color: rgba(76, 175, 80, 0.8);
}


.error_server {
    margin: 0 0 10px 0 ;    
    height: 22px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}