<div class="content">
    <div class="main">
        <img src="assets/images/login_icon.png" alt="">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <label for="email">Email:</label>

            <input class="email_password_input" type="email" id="email" name="email" placeholder="Enter your Email"
                required formControlName="email">

            <label class="incorrect_entry" for="email">
                @if (email.invalid && (email.touched || email.dirty)) {
                @if (email.errors?.['required']) { Email is required }
                @if (email.errors?.['email']) { Invalid email format }
                }
            </label>

            <label for="password">Password:</label>

            <input class="email_password_input" type="password" id="password" name="password"
                placeholder="Enter your Password" required formControlName="password">

            <label class="incorrect_entry" for="email">
                @if (password.invalid && (password.touched || password.dirty)) {
                @if (password.errors?.['required']) { Password is required }
                @if (password.errors?.['minlength']) { Minimum 6 characters }
                }
            </label>

            <p class="error_server">
                @if (serverError) {
                {{ serverError }}
                }
            </p>

            @if (isLogin) {
            <div class="remember_or_forgot">
                <div class="remember">
                    <input type="checkbox">
                    <p>Remember me</p>
                </div>
                <a href="#">Forgot password?</a>
            </div>
            }

            <div class="wrap">
                @if (email.invalid && (email.touched || email.dirty) || password.invalid && (password.touched ||
                password.dirty)) {
                <button class="button_disabled" type="submit" disabled>
                    {{submitButton}}
                </button>
                } @else {
                <button class="button_enabled" type="submit">
                    {{submitButton}}
                </button>
                }
            </div>



        </form>

        @if (isLogin) {
        <p class="registration">Not registered?
            <a href="#" style="text-decoration: none;">
                Create an account
            </a>
        </p>
        }

    </div>
</div>